.list-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto 10px auto;
  padding-top: 0px;
}
.list-div {
  height: 150px;
}
.container {
  margin: 20px auto;
  width: 100%;
}
span {
  font-weight: bold;
}
h1 {
  margin: 0 auto;
}
.list-profile-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0 8px 0 0;
}
.user {
  width: 250px;
  text-align: left;
  display: flex;
  align-items: center;
}
.votes {
  flex-grow: 1;
}
.post-type {
  width: 270px;
}
.date {
  flex-grow: 1;
}
.summary {
  text-align: left;
}
